
   <header class="intro-header" style="background-image: url('/modules/core/client/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>The basics about me:</p>
                <ul>
                    <li>
                        From Tromsø, Norway
                    </li>
                    <li>
                        Married to <a class="aboutpagelink" href="https://no.linkedin.com/in/maria-nyvold-a3930410a/en" target="_blank">Maria</a>
                    </li>
                    <li>
                        Two kids
                    </li>
                    <li>
                        MSc in Communication Technology (NTNU, Trondheim)
                    </li>
                    <li>
                        MBA - Strategic Management and Economy (UiT, Tromsø) 
                    </li>
                    <li>
                        Certified Scrum Professional (CSP)
                    </li>
                    <li>
                        Certified ScrumMaster (CSM)
                    </li>
                    <li>
                        Current job: Senior Software Engineer/Product Owner
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

<footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>
