<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/modules/core/client/img/contact-bg.jpg')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
                <h1>Contact Me</h1>
                <hr class="small">
                <span class="subheading">Have questions? I have answers (maybe).</span>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content -->
<div class="container" ng-controller="ContactController">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will to get back to you as soon as possible!</p>
            <form name="contactForm" id="contactForm" ng-submit="processForm(contactForm.$valid)" novalidate>
                <fieldset>
                    <div class="form-group col-xs-12 floating-label-form-group controls" show-errors>
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" ng-model="contact.name" placeholder="Name" id="name" required>
                        <div ng-messages="contactForm.name.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls" show-errors>
                        <label for="email">Email Address</label>
                        <input type="email" name="email" class="form-control" ng-model="contact.email" placeholder="Email Address" id="email" required>
                        <div ng-messages="contactForm.email.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Email is required.</p>
                            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls" show-errors>
                        <label for="phone">Phone Number</label>
                        <input type="tel" name="phone" class="form-control" ng-model="contact.phone" placeholder="Phone Number" id="phone" required>
                        <div ng-messages="contactForm.phone.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Phone number is required.</p>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls" show-errors>
                        <label for="message">Message</label>
                        <textarea rows="3" name="message" class="form-control" ng-model="contact.message" placeholder="Message" id="message" required></textarea>
                        <div ng-messages="contactForm.message.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Message is required.</p>
                        </div>
                    </div>
                    <div ng-show="success" class="text-danger">
                      <div ng-bind="sentSuccess"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </fieldset>
                <br> 
            </form>
        </div>
    </div>
</div>

<hr>

<script type="text/ng-template" id="sentmessagedialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Your message was sent!</h3>
    </div>
    <div class="modal-body">
        <p>I will get back to you ASAP!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>