<section ng-controller="HomeController">
  <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/modules/core/client/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>ScrumBlog</h1>
                        <hr class="small">
                        <span class="subheading">For the most part a blog about Scrum</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container" ng-controller="PostController" ng-init="find()">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-repeat="article in (articleLoader = (articles | limitTo:feedLimit))">
                    <div class="post-preview">
                        <a ui-sref="posts.view({slug: article.slug})">
                            <h2 class="post-title" ng-bind="article.title"></h2>
                            <h3 class="post-subtitle" ng-bind="article.subtitle"></h3>
                        </a>
                        <p class="post-meta">
                            Posted on
                            <span ng-bind="article.created | date:'mediumDate'"></span>
                                by
                            <span ng-bind="article.user.displayName"></span> 
                        </p>
                    </div>
                    <hr>
            </div>
            <!-- Pager -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="pager">
                    <li class="next">
                        <a href="#" ng-click="feedLimit = feedLimit + 5">Older Posts &rarr;</a>
                    </li>
                </ul>  
            </div>    
        </div>
    </div>
    <hr>

    <footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>

   </div>   
</section>
