<section ng-controller="PostController" ng-init="findOne()">
  <header class="intro-header" style="background-image: url('/modules/core/client/img/post-bg2.png')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 ng-bind="article.title"></h1>
                        <h2 class="subheading" ng-bind="article.subtitle"></h2>
                        <span class="meta">
                             Posted by {{ article.user.displayName }} on {{ article.created | date:'mediumDate' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <p ng-bind-html="article.content"></p>
                </div>
            </div>          
            <div class="row">
                <div class="fb-comments col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" dyn-fb-comment-box page-href="http://thescrumblog.com/posts/{{ article.slug }}" numposts="5" orderby="time"></div>
            </div>
    </article>

    <hr>

    <footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>
</section>