<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Article</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
         <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <textarea name="subtitle" ng-model="article.subtitle" id="subtitle" class="form-control" cols="30" rows="2" placeholder="Subtitle"></textarea>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea ui-tinymce="tinymceOptions" ng-model="article.content" rows="15"></textarea>
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="published" ng-model="article.published">Published
          </label>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
