<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Articles</h1>
  </div>
  <div class="list-group">
    <div class="form-group">
      <input type="button" class="btn btn-primary" value="Create RSS feed" ng-click="createRss()">
    </div>
    <a ng-repeat="article in articles" ui-sref="articles.view({slug: article.slug})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="lead" ng-bind="article.subtitle"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
